<script setup lang="ts">
import { ref } from "vue";

const search = ref("");
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-text-field
          class="justify-center"
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-table
          class="border rounded-xl overflow-auto"
          height="720px"
          theme="dark"
        >
          <thead>
            <tr>
              <th>ลำดับ</th>
              <th>ชื่อ</th>
              <th>ปริมาณ/ถุง</th>
              <th>จำนวน</th>
            </tr>
          </thead>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped></style>
