<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const authStore = useAuthStore();

const loginName = ref("");
const password = ref("");
const role = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    authStore.login(loginName.value, password.value);
  }
};
const reset = () => {
  form.value?.reset();
};
</script>

<template>
  <v-app>
    <v-main class="pa-16 bg- backG">
      <v-card
        width="140vh"
        height="80vh"
        class="mx-auto rounded-xl"
        theme="dark"
      >
        <v-row>
          <v-col cols="7">
            <v-img
              cover
              class="ml-n10"
              src="This Amritsar cafe resembles an emerald dipped in gold 2.png"
            ></v-img>
          </v-col>
          <v-col>
            <v-container>
              <v-row>
                <v-col class="mt-15">
                  <div>
                    <v-row>
                      <v-col></v-col>
                      <v-col
                        ><v-img
                          width="20vh"
                          src="dCoffeeLogo.PNG"
                          class="ml-n5"
                        >
                        </v-img
                      ></v-col>
                      <v-col></v-col>
                    </v-row>
                  </div>
                  <div class="ml-n15 mt-8">
                    <!-- <v-card-title
                      primary-title
                      class="text-center text-h6 font-weight-bold"
                    >
                      Login
                    </v-card-title> -->

                    <v-card-text>
                      <v-form ref="form" v-model="valid">
                        <v-text-field
                          label="Email"
                          v-model="loginName"
                          variant="outlined"
                          :rules="[
                            (v) => !!v || 'Email is required',
                            (v) =>
                              /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(
                                v
                              ) || 'Email is not valid!!',
                          ]"
                          required
                        ></v-text-field>
                        <v-text-field
                          label="Password"
                          type="password"
                          v-model="password"
                          variant="outlined"
                          :rules="[
                            (v) => !!v || 'Password is required',
                            (v) =>
                              v.length >= 8 ||
                              'Password must be more than or equal 8 characters',
                          ]"
                          required
                        ></v-text-field>
                      </v-form>
                    </v-card-text>

                    <v-radio-group
                      inline
                      class=""
                      v-model="role"
                      :rules="[(v) => !!v || 'Role is required']"
                    >
                    </v-radio-group>

                    <v-card-actions class="justify-center">
                      <v-btn class="log-in rounded-xl" @click="login"
                        >Login</v-btn
                      >
                      <v-btn class="clear rounded-xl" @click="reset"
                        >Clear</v-btn
                      >
                    </v-card-actions>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-col>
        </v-row>
      </v-card>
    </v-main>
  </v-app>
</template>
<style scoped>
.backG {
  background-color: #6d9886;
}

.log-in {
  background-color: #6d9886;
  color: white;
  font-weight: bold;
}
.clear {
  background-color: darkred;
  color: white;
  font-weight: bold;
}

.log-in:hover {
  background-color: #212121;
  color: #6d9886;
  font-weight: bold;
}
.clear:hover {
  background-color: #212121;
  color: darkred;
  font-weight: bold;
}
</style>
