<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
import { ref } from "vue";
import {
  mdiAccount,
  mdiAccountMultiple,
  mdiAccountMultipleOutline,
  mdiChartBar,
  mdiCurrencyUsd,
  mdiTextBox,
  mdiWarehouse,
  mdiLogout,
  mdiChevronLeft,
  mdiAccountCheck,
  mdiCartCheck,
} from "@mdi/js";
const struser = localStorage.getItem("user");
const user = JSON.parse(struser!);
const authStore = useAuthStore();
const drawer = ref(true);
const rail = ref(true);
</script>
<template>
  <v-navigation-drawer
    expand-on-hover
    v-model="drawer"
    :rail="rail"
    permanent
    color="#212121"
  >
    <v-list-item
      prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
      :title="`${user.name}`"
      :subtitle="`${user.employee.position}`"
      nav
      class="mt-2"
      color="white"
    >
    </v-list-item>

    <v-divider></v-divider>

    <v-list
      density="compact"
      nav
      color="white"
      v-if="user.employee.position == 'ผู้จัดการ'"
    >
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiChartBar"
        title="Dash Board"
        value="main"
        to="/"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiCurrencyUsd"
        title="Point of sell"
        value="pos"
        to="/pos"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiTextBox"
        title="Order"
        value="order"
        to="/order"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiAccountMultiple"
        title="Customer"
        value="customer"
        to="/customer"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiAccountMultipleOutline"
        title="Employee"
        value="employee"
        to="/employee"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiAccountCheck"
        title="Checkinout"
        value="checkinout"
        to="/checkinout"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiAccount"
        title="User"
        value="user"
        to="/user"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiWarehouse"
        title="Stock"
        value="stock"
        to="/stock"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiCartCheck"
        title="materials"
        value="materials"
        to="/material"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiLogout"
        title="Logout"
        value="logout"
        @click="authStore.logout"
      ></v-list-item>
    </v-list>

    <v-list
      density="compact"
      nav
      color="white"
      v-if="user.employee.position == 'พนักงาน'"
    >
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiChartBar"
        title="Dash Board"
        value="main"
        to="/"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiCurrencyUsd"
        title="Point of sell"
        value="pos"
        to="/pos"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiTextBox"
        title="Order"
        value="order"
        to="/order"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiAccountMultiple"
        title="Customer"
        value="customer"
        to="/customer"
      ></v-list-item>

      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiAccountCheck"
        title="Checkinout"
        value="checkinout"
        to="/checkinout"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiLogout"
        title="Logout"
        value="logout"
        @click="authStore.logout"
      ></v-list-item>
    </v-list>

    <v-list
      density="compact"
      nav
      color="white"
      v-if="user.employee.position == 'พาร์ทไทม์'"
    >
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiChartBar"
        title="Dash Board"
        value="main"
        to="/"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiCurrencyUsd"
        title="Point of sell"
        value="pos"
        to="/pos"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiTextBox"
        title="Order"
        value="order"
        to="/order"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiAccountMultiple"
        title="Customer"
        value="customer"
        to="/customer"
      ></v-list-item>

      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiAccountCheck"
        title="Checkinout"
        value="checkinout"
        to="/checkinout"
      ></v-list-item>
      <v-list-item
        class="justify-left list-color"
        :prepend-icon="mdiLogout"
        title="Logout"
        value="logout"
        @click="authStore.logout"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
<style scoped>
.list-color {
  color: white;
}
</style>
