<script setup lang="ts">
import { ref } from "vue";
import { useOrderStore } from "@/stores/order";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const orderStore = useOrderStore();
</script>
<template>
  <v-row class="text-center">
    <v-col>
      <v-dialog v-model="orderStore.dialog" activator="parent" width="auto">
        <v-card class="text-center dialog rounded-xl" theme="dark">
          <v-card-title>{{ orderStore.orderList.id }}</v-card-title>
          <v-card-text>
            <v-col>
              ชื่อสินค้า :
              {{ orderStore.orderList.name }}
            </v-col>
            <v-col>
              ประเภทสินค้า :
              {{ orderStore.orderList.type }}
            </v-col>
            <v-col>
              จำนวนสินค้า :
              {{ orderStore.orderList.amount }}
            </v-col>
            <v-col>
              ราคาสินค้า :
              {{ orderStore.orderList.price }}
            </v-col>
          </v-card-text>
          <v-card-actions>
            <v-btn
              class="dialog-botton rounded-xl"
              block
              @click="orderStore.dialog = false"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-col>
  </v-row>
</template>
<style scoped>
.dialog-botton {
  background-color: #6d9886;
  color: white;
  font-weight: bold;
}
.dialog-botton:hover {
  background-color: #212121;
  color: #6d9886;
  font-weight: bold;
}
</style>
