<script setup lang="ts">
import { ref } from "vue";
import { useEmployeeStore } from "@/stores/employee";
import type { VForm } from "vuetify/components";
import { useCheckinoutStore } from "@/stores/checkinout";
import { mdiPlus } from "@mdi/js";
import { useAuthStore } from "@/stores/auth";
const form = ref<VForm | null>(null);
const checkinoutStore = useCheckinoutStore();
const struser = localStorage.getItem("user");
const user = JSON.parse(struser!);
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    checkinoutStore.saveCheckInOut();
  }
};
const update = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    checkinoutStore.updatecheckout();
  }
};

const clear = () => {
  checkinoutStore.dialogTime = false;
  checkinoutStore.clear();
};

const addtime = () => {
  checkinoutStore.dialogTime = true;
};
</script>

<template>
  <v-row>
    <v-col> </v-col>
  </v-row>
  <v-row justify="center">
    <v-dialog
      v-model="checkinoutStore.dialogTime"
      persistent
      width="1024"
      theme="dark"
    >
      <v-card class="rounded-xl">
        <v-card-title class="left-justify">
          <span class="text-h5">ลงเวลาทำงาน</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <!-- <v-text-field
                        label="รหัส User"
                        v-model="employeeStore.editedEmployee.codeEm"
                        required
                        :rules="[
                          (v) => !!v || 'รหัส User ไม่เป็นช่องว่าง',
                          (v) =>
                            v.length === 6 ||
                            'รหัส User จะต้องมีขนาดเท่ากับ 6 ตัวอักษร',
                        ]"
                      ></v-text-field> -->
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Email"
                    v-model="checkinoutStore.editedCheckInOut.email"
                    required
                    :rules="[
                      (v) => !!v || 'Email ไม่เป็นช่องว่าง',
                      (v) =>
                        v.length > 5 || 'Email จะต้องมีขนาดมากกว่า 5 ตัวอักษร',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-select
                    v-if="
                      checkinoutStore.editedCheckInOut.email ==
                      user.employee.email
                    "
                    :items="['เข้างาน', 'เลิกงาน']"
                    label="เข้างาน-เลิกงาน"
                    v-model="checkinoutStore.editedCheckInOut.status"
                    required
                    :rules="[(v) => !!v || 'โปรดเลือกเวลาเข้างาน-เลิกงาน']"
                  ></v-select>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="save"
            v-if="checkinoutStore.editedCheckInOut.status == 'เข้างาน'"
          >
            Save
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="update"
            v-if="checkinoutStore.editedCheckInOut.status == 'เลิกงาน'"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped>
.container-width {
  max-width: 800px;
}
.table-width {
  max-width: 600px;
}

.botton {
  background-color: #c19277;
  color: white;
  font-weight: bold;
}

.botton:hover {
  background-color: #212121;
  color: #c19277;
}
</style>
